.contanier {
    width: 100%;
}

section {
    width: 100%;
    height: '';
    box-sizing: border-box;
    font-size: 8px;
    font-family: 'SourceHanSansCN-Bold';

}

section>img {
    width: 100%;
}


.index {
    padding: 10px 0;
}

.index .userInfo {
    height: 18.5%;
    background: linear-gradient(to right, #e4e2e3, white);
    width: 95%;
    margin: -2px auto;
}

.index .userInfo ul {
    overflow: hidden;
    padding-top: 3.5rem;
}

.index .userInfo ul li {
    float: left;
    text-align: left;
    font-size: 16px;
    text-indent: 25px;
    width: 35%;
    color: #8A6C5C;
    font-family: "SourceHanSansCN-Bold";
    line-height: 2rem;
    font-weight: bold;
}



.Introduction .border {
    width: 100%;
    height: 83.5%;
    margin-top: -2px;
    padding-top: 55px;
}

.Introduction .border .content {
    height: 90vh;
    width: 90%;
    margin: 0 auto;
}

.Introduction .content .char {
    background-color: #8A6C5C;
    padding: 8px;
    font-size: 14px;
    color: white;
    font-family: "SourceHanSansCN-Bold";
    font-weight: bold;
    height: 23px;
    float: left;
    line-height: 21px;
}

.Introduction .content .jiao {
    width: 0px;
    height: 0px;
    border-left: solid 15px #8A6C5C;
    border-top: solid 20px transparent;
    border-bottom: solid 20px transparent;
    float: left;
    margin-left: -1px;
}

.Introduction .content>p {
    font-size: 16px;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: rgba(51,51,51,1);
    line-height: 20px;
    margin-bottom: 10px;
}

.Introduction .content  p {
    font-size: 16px;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 25px;
}

.Introduction .content .attention .yuandian {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FD4A02;
    float: left;
}

.Introduction .content  .attention .wenzi {
    margin-left: 13px;
    margin-top: -9px;
    line-height: 35px;
}

.Introduction .content>pre {
    font-size: 16px;
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 21px;
    margin-top: 35px;
}




.results .border {
    width: 100%;
    height: 86%;
    margin-top: -30px;
    padding-top: 55px;
}

.results .border .content {
    height: 90vh;
    width: 90%;
    margin: 0 auto;
}

.results .content .char {
    background-color: #8A6C5C;
    padding: 8px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    height: 23px;
    float: left;
    line-height: 21px;
}

.results .content .jiao {
    width: 0px;
    height: 0px;
    border-left: solid 15px #8A6C5C;
    border-top: solid 20px transparent;
    border-bottom: solid 20px transparent;
    float: left;
    margin-left: -1px;
}

.results .content>p {
    font-size:15px;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:23px;
}

.results .content>span {
    font-size:14px;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:21px;
}

.results .content>.sm_title {
    color:rgba(138,108,92,1);
}

.results .content .jieshao {
    width: 96.8%;
    height: 25px;
    background-color: #e3e3e3;
    font-size: 14px;
    font-weight: bold;
    color: rgba(51,51,51,1);
    line-height: 21px;
    padding: 10px 0px 0px 23px;
}

.results .content .jieshao i {
    width: 20px;
    height: 20px;
    padding: 0px 8px;
}

.results .content .chart {
    width: 100%;
    height: 400px;
    background-color: #E3E4E9;
}

.results .content .adv, .results .content .weak {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

.results .content .adv .sm_title2, .results .content .weak .sm_title2 {
    font-size:14px;
    font-weight:bold;
    color:rgba(0,0,0,1);
    line-height:21px;
}

.results .content .adv>span, .results .content .weak>span {
    font-size:14px;
    font-weight:400;
    color:rgba(0,0,0,1);
    line-height:21px;
    margin-right: 10px;
}




.detailed .border {
    width: 100%;
    height: 86%;
    margin-top: -30px;
    padding-top: 55px;
}

.detailed .border .content {
    height: 90vh;
    width: 90%;
    margin: 0 auto;
}

.detailed .content .char {
    background-color: #8A6C5C;
    padding: 8px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    height: 23px;
    float: left;
    line-height: 21px;
}

.detailed .content .jiao {
    width: 0px;
    height: 0px;
    border-left: solid 15px #8A6C5C;
    border-top: solid 20px transparent;
    border-bottom: solid 20px transparent;
    float: left;
    margin-left: -1px;
}

.detailed .content>.sm_title {
    font-size:14px;
    font-weight:bold;
    color:rgba(138,108,92,1);
    line-height:21px;
}

.detailed .content>.yuandian {
    width: 8px;
    height: 8px;
    background-color: #8A6C5C;
    border-radius: 50%;
    float: left;
    clear: both; 
}

.detailed .content>.wenzi {
    font-size: 14px;
    font-weight:bold;
    color:rgba(138,108,92,1);
    line-height:21px;
    margin-left: 13px;
    margin-top: -7px;
}

.detailed .content .pers {
    width: 100%;
    overflow: hidden;
    font-size:14px;
    color:rgba(51,51,51,1);
    line-height:22px;
    margin-top: 15px;
}

.detailed .content .pers .per_tit {
    float: left;
    margin-right: 5px;
    font-weight: bold;
    font-size: 14px
}

.detailed .content .chart {
    width: 100%;
    height: 150px;
    background-color: #E3E4E9;
    margin-bottom: 25px;
}

.detailed .content .pers2 {
    width: 100%;
    overflow: hidden;
    font-size:14px;
    color:rgba(51,51,51,1);
    line-height:22px;
    margin-top: 15px;
}

.detailed .content .pers2 .per2_tit {
    float: left;
    margin-right: 5px;
    font-weight: bold;
    font-size: 14px
}